.contacts {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h3 {
    font-size: 64px;
    margin-bottom: 34px;
  }
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contacts-inner {
    margin: 0 auto;
    width: 630px;
  }

  .contact-container {
    $border: #e1e1e1;
    $btn: #8959c7;
    $focus: #eee6f4;
    .title,
    .contents {
      width: 100%;
      border: 1px solid $border;
      padding: 10px;
      box-sizing: border-box;
      &:focus {
        background-color: $focus;
      }
    }

    .title {
      height: 48px;
      border-radius: 30px;
    }

    .contents {
      border-radius: 15px;
      height: 150px;
      margin: 10px 0;
    }

    .btn-send {
      width: 255px;
      height: 52px;
      background: $btn;
      border-radius: 30px;
      border: 1px solid $border;
      margin: 0 auto;
      display: block;
      &:hover {
        // background: #311653;
        background: darken($btn, 30%);
      }
      span {
        color: #fff;
        font-size: 16px;
      }
    }
  }
  .contact-result {
    display: none;
  }
}

@media all and (max-width: 1200px) {
  .contacts {
    .inner {
      padding: 0 20px;
      max-width: none;
    }
  }
}
@media all and (max-width: 960px) {
  .contacts {
    height: auto;
    display:block;
    .inner {
      
      display:block;
      text-align:center;
      height: auto;

    }
  }
}
@media all and (max-width:720px){
  .contacts{
    .contacts-inner{
      width: auto;
    }
  }
}
