.contacts {
  height: 100vh;
  text-align:center;
  h3 {
    font-size: 64px;
    margin-bottom: 34px;
  }
  
  .inner {
    margin: 0 auto;  
    width:630px;
  }
  .entry {
    input {
      width: 100%;
      height: 48px;
      box-sizing: border-box;
      border: 1px solid #e1e1e1;
      border-radius: 30px;
    }
  }
  .title {
    padding: 33px 0 33px 0;
    input {
      width: 100%;
      height: 244px;
      box-sizing: border-box;
      border: 1px solid #e1e1e1;
      border-radius: 30px;
    }
  }
  button {
    width: 255px;
    height: 52px;
    background: #c71919;
    border-radius: 30px;
    border: 1px solid #e1e1e1;
    span {
      color: #fff;
      font-size: 16px;
    }
  }
}
