.gallery {
  height: 100vh;

  .list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */

    li {
      position: relative;
      height: calc(100vh / 3);

      @for $i from 1 through 15 {
        &:nth-child(#{$i}) {
          background: url($url + "g#{$i}.jpg ") no-repeat center center/cover;
        }
      }

      &:nth-child(1) {
        background: url($url + "g1.jpg") no-repeat center center/cover;
      }

      .thumbnail {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        font-size: 15px;
        transition: opacity 0.2s;
      }
      dl {
        opacity: 0;
        position: absolute;
        left: 0px;
        bottom: 10px;
        width: 100%;
        color: #fff;
        transition: 0.4s 0.1s;
        font-weight: bold;
        padding-left: 20px;
        padding-top: 50px;
        box-sizing: border-box;
        dt {
          margin-bottom: 2px;
          font-size: 22px;
        }
        dd {
          width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          margin: 0;
        }
      }

      &:hover {
        .thumbnail {
          background-color: rgba(0, 0, 0, 0.5);
          dl {
            opacity: 1;
          }
        }
      }
    }
  }
}

.modal-container {
  background-color: #222;
  padding: 22px;
  position: fixed;
  width: 576px;
  height: 100vh;
  left: -600px;
  top: 0;
  box-sizing: border-box;
  transition: left 0.4s;
  .thumbs-container {
    .thumbs {
      padding-bottom: 15px;
    }
    .contact-box {
      @include flex;
      max-width: 400px;
    }
    h3 {
      font-size: 30px;
      color: #fff;
    }
    p {
      color: rgba(255, 255, 255, 0.548);
      font-size: 12px;
    }
  }
  .contents {
    dl {
      color: #eb4b4b;
      padding-top: 34px;
      font-size: 16px;
    }
    p {
      padding-top: 50px;
      color: #fff;
      font-size: 14px;
      padding-bottom: 22px;
    }
  }

  .btn-close {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #c71919;
    color: #fff;
    position: absolute;
    right: -54px;
    top: 25px;
    text-align: center;
    line-height: 34px;
    display: none;

    @include center(34px, #c71919);

    .material-symbols-outlined {
      line-height: inherit;
    }
  }
}
.modal-cotents-img {
  @include flex($a: center);
  column-gap: 15px;
  width: 50px;
}
.dim {
  display: none;
  /*
  width: 100vw;
  height: 100vh;
  */
  @include full;
}

@media all and (max-width: 1200px) {
  .gallery {
    height:  auto;
    .list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media all and (max-width: 960px) {
   
}



@media all and (max-width: 720px) {
  .gallery {

    .list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}


@media all and (max-width: 480px) {
  .gallery {

    .list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}


@media all and (max-width: 375px) {
 
}
