.home {
  height: 100vh;
  position: relative;
  background: url($url + 'main_bg.png') no-repeat center center/cover; 

  .designer {
    outline:1px solid blue;
    position:absolute;
    left:50%;bottom:0;
    height:100%;
    max-height:500px;
    width:100%;
    max-width:1300px;
    transform:translateX(-50%);
    background: url($url + 'main_designer.png') no-repeat center bottom/contain; 


    .airdrops {
      position:absolute;
      top:0;
      right:250px;
      outline:1px solid red;
      width:200px;
      height:200px;
    }
  }

  @keyframes rotateSide {
    0% { transform:rotate(-20deg) translateY(0)  }
    100% { transform:rotate(20deg) translateY(-10px)  }
  }

  @keyframes starGroup {
  0% { transform:translate(0,0); opacity:1;}
  100% {transform:translate(-700px, 700px); opacity:0;}
  }
  .starGroup { 
    animation:starGroup 2s 3s infinite ease-in both;
    position:absolute;
    right:200px;
    top:-200px;
    width:250px;
    img {
      width:100%;
    }
  }
  .stars {
    span {
      animation: twinkleStar 1s infinite alternate both;
    }

    span:nth-child(1) {
      left: 50px;
      top: 100px;
      @include star(10px, gold);
    }
    span:nth-child(2) {
      @include star(5px);
      right: 100px;
      top: 300px;
      animation-delay: 0.5s;
    }

    span:nth-child(3) {
      left: 50%;
      top: 120px;
      @include star(8px, rgb(48, 211, 211));
    }
    span:nth-child(4) {
      left: 150px;
      top: 200px;
      @include star(10px, gold);
      animation-delay: 0.7s;
    }
    span:nth-child(5) {
      @include star(5px);
      right: 200px;
      top: 250px;
      animation-delay: 1.2s;
    }

    span:nth-child(6) {
      left: 50%;
      bottom: 120px;
      animation-delay: 0.2s;
      @include star(8px, rgb(48, 211, 211));
    }
    span:nth-child(7) {
      left: 50%;
      bottom: 120px;
      animation: moveleft 0.5s infinite linear alternate;
      background-image: url($url + "home11.png");
      left: 472px;
      bottom: 100px;
      width: 60px;
      height: 60px;
      background-repeat: no-repeat;
    }
  }

  .thing {
    span {
      position: absolute;
      display: block;
      background-repeat: no-repeat;
      background-size: contain;
    }

   

    $ani: 0.8, 1, 0.9, 1, 1.2, 1.5, 1.5, 1.5, 1.8, 1.8, 0.4, 0.4;
    $w: 60px, 100px, 77px, 58px, 170px, 145px, 79px, 91px, 107px, 95px, 57px, 19px;
    $h: 60px, 100px, 77px, 58px, 170px, 100px, 79px, 116px, 95px, 162px, 170px, 20px;
    $l: 366px, 302px, 607px, auto, auto, auto, auto, 135px, auto, 50%, 950px, 80px;
    $b: 600px, 796px, 629px, 800px, auto, 600px, 350px, 290px, 50px, 100px, 230px, 50%;
    $r: auto, auto, auto, 410px, 74px, 324px, 151px, auto, 40px, auto, auto, auto;

    $count: 12;
    $rocket : 10;
    $apple : 12;

    @for $i from 1 through $count {
      @debug $i;
      span:nth-child(#{$i}) {
        background-image: url($url + "home#{$i}.png");
        animation: #{nth($ani, $i)}s infinite linear alternate;
        width: nth($w, $i);
        height: nth($h, $i);
        left: nth($l, $i);
        bottom: nth($b, $i);
        right: nth($r, $i);

        @if ( $i == $rocket ) { 
          animation:rocket 3s 1s infinite ease-in both;
        } @else if ( $i == $apple) {
          animation-name:appleGlow;
        } @else {
          animation-name: moveUpDown;
        }
        
      }
    }

    span.no5 {
      animation:rotateSide 2s infinite alternate both;
      top:200px;
    }

    @keyframes rocket {
      0% {
        transform:transform(0,0) scale(1);
      }

      100% {
        transform:translate(-300px, -900px) scale(0.5);
      }
    }

    @keyframes appleGlow {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
  // .circle {
  //   //  @include circle(80px, gold);
  //   @include star(80px, gold);
  //   position: absolute;
  //   right: 50%;
  //   top: 200px;
  //   animation: moveUpDown 0.8s infinite linear alternate;
  // }
}

@keyframes twinkleStar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-8px);
  }
}

@keyframes moveleft {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateX(-8px);
  }
}
