@mixin blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

@mixin flex($j: space-between, $a: null) {
  display: flex;
  justify-content: $j;
  align-items: $a;
}

@mixin full($p: fixed, $c: #000, $a: 0.5) {
  position: $p;
  background-color: rgba($c, $a);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin center($size, $color) {
  border-radius: 50%;
  background-color: rgba($color, 0.5);
}

@mixin star($size, $color:#fff) {
  position:absolute;
  
  display:block;
  width:$size;
  height:$size;
  border-radius:50%;
  background-color:$color;
  
  box-shadow:0 0 13px rgba($color,0.8);
  // box-shadow:0 0 3px #{rgba($color, 0.3)};
 
}

@mixin circle($size, $color:white) {
  border-radius:50%;
  width:$size;
  height:$size;
  background-color:$color;
}

/*
span:nth-child(1) {
      
  animation: moveUpDown 0.8s infinite linear alternate;
  left: 472px;
  bottom: 495px;
  width: 60px;
  height: 60px;
}
span:nth-child(2) {
  
  animation: moveUpDown 1s infinite linear alternate;
  left: 400px;
  bottom: 745px;
  width: 100px;
  height: 100px;
}
span:nth-child(3) {
 
  animation: moveUpDown 0.9s infinite linear alternate;
  left: 900px;
  bottom: 724px;
  width: 100px;
  height: 100px;
}
span:nth-child(4) {
  background-image: url($url + "home4.png");
  background-repeat: no-repeat;
  animation: moveUpDown 1s infinite linear alternate;
  right: 400px;
  bottom: 800px;
  width: 100px;
  height: 100px;
}
span:nth-child(5) {
  background-image: url($url + "home5.png");
  background-repeat: no-repeat;
  animation: moveUpDown 1.2s infinite linear alternate;
  right: 100px;
  bottom: 705px;
  width: 170px;
  height: 100px;
}
span:nth-child(6) {
  background-image: url($url + "home6.png");
  background-repeat: no-repeat;
  animation: moveUpDown 1.5s infinite linear alternate;
  right: 140px;
  bottom: 500px;
  width: 170px;
  height: 100px;
}
span:nth-child(7) {
  background-image: url($url + "home7.png");
  background-repeat: no-repeat;
  animation: moveUpDown 1.5s infinite linear alternate;
  right: 40px;
  bottom: 350px;
  width: 170px;
  height: 100px;
}
span:nth-child(8) {
  background-image: url($url + "home8.png");
  background-repeat: no-repeat;
  animation: moveUpDown 1.5s infinite linear alternate;
  left: 40px;
  bottom: 350px;
  width: 170px;
  height: 170px;
}
span:nth-child(9) {
  background-image: url($url + "home9.png");
  background-repeat: no-repeat;
  animation: moveUpDown 1.8s infinite linear alternate;
  right: 40px;
  bottom: 50px;
  width: 170px;
  height: 170px;
}
span:nth-child(10) {
  background-image: url($url + "home10.png");
  background-repeat: no-repeat;
  animation: moveUpDown 1.8s infinite linear alternate;
  left: 720px;
  bottom: 600px;
  width: 170px;
  height: 170px;
}
span:nth-child(11) {
  background-image: url($url + "apple.png");
  background-repeat: no-repeat;
  left: 950px;
  bottom: 230px;
  width: 170px;
  height: 170px;
}

*/