@mixin blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

@mixin flex($j: space-between, $a: null) {
  display: flex;
  justify-content: $j;
  align-items: $a;
}

@mixin full($p: fixed, $c: #000, $a: 0.5) {
  position: $p;
  background-color: rgba($c, $a);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin center($size, $color) {
  border-radius: 50%;
  background-color: rgba($color, 0.5);
}

@mixin star($size, $color: #fff) {
  position: absolute;

  display: block;
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: $color;

  box-shadow: 0 0 13px rgba($color, 0.8);
  // box-shadow:0 0 3px #{rgba($color, 0.3)};
}

@mixin circle($size, $color: white) {
  border-radius: 50%;
  width: $size;
  height: $size;
  background-color: $color;
}

