@mixin blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

@mixin flex($j: space-between, $a: null) {
  display: flex;
  justify-content: $j;
  align-items: $a;
}

@mixin full($p: fixed, $c: #000, $a: 0.5) {
  position: $p;
  background-color: rgba($c, $a);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin center($size, $color) {
  border-radius: 50%;
  background-color: rgba($color, 0.5);
}
