.Profile {
  height: 100vh;
  @include flex($j:center, $a:center);
  font-family: "Roboto", sans-serif;
  line-height: 1.38;

  .inner {
    width: 100%;
    max-width: 1200px;
    height: 620px;
    display: grid;
    grid-template-columns: 440px auto;
    column-gap: 30px;
  }

  .title,
  .base,
  .contact,
  .photos .big {
    width: 100%;
    max-width: 440px;

    img {
      width: 100%;
      height: 620px;
    }
  }
  .info {
    @include flex;
    flex-direction: column;
  }
  h3 {
    font-size: 66px;
  }
  dl {
    font-size: 16px;
    display: grid;
    grid-template-columns: 60px auto;
    column-gap: 20px;
  }

  ul {
 
    @include flex($a:center);
    column-gap: 18px;
    li a img {
      width: 231px;
      height: 188px;
    }
  }
}

@media all and (max-width:1200px) {
  .Profile {
    .inner {
      padding:0 20px;
      max-width:none;
    }
  }
}
@media all and (max-width:960px) {
  .Profile {
    padding:50px 0;
    height:auto;
    .inner {
      height:auto;
      column-gap: 20px;
      .big {
        height:500px;
        overflow:hidden;
      }

    }
    .photos {
      img {
        height:130px;
      }
    }
  }
}
@media all and (max-width:720px) {
  .Profile {
    .inner{
      display: block;
      .big{
        display: none;
      }
      .info{
        display: block;
      }
      .photos{
        margin: 20px 0 0 ;
      }
    }
  }
}
@media all and (max-width:375px){
  .Profile{
    .photos{
      display:block;
      img{
        width: 100%;
        height: auto;
      }
    }
    
  }
}
 