.skills {
  height: 100vh;

  @include flex(center, center);
  .inner {
    width: 100%;
    max-width: 1220px;
  }
  h2 {
    font-size: 64px;
    padding-bottom: 74px;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  li {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    */
    @include flex($a: center);
    column-gap: 40px;

    img {
      width: 50px;
    }

    strong {
      &:after {
        content: "%";
      }
    }

    progress {
      flex-grow: 1;
      height: 22px;
      transition: 0.5;
    }

    progress::-webkit-progress-bar {
      background: #d9d9d9;
      border-radius: 20px;
    }
    /*
    $nextButton : black;
    $button : red ,green, blue;
    $buttons : (
      submit : red,
      cancle : gray,
      mute : #333,
      sText : white
    )

    .wrap { color : nth($button,2)}
*/

    progress::-webkit-progress-value {
      border-radius: 20px;
      transition-property: all;
      transition-duration: 0.4s;
    }

    $bars: #e85832, #379ce2, #e9ad39, #cd63ad, #1469aa;
    $times: 0, 0.2s, 0.4s, 0.6s, 0.8s;

    /*
&:nth-child(1) progress::-webkit-progress-value { background-color: nth($bars,1)};
&:nth-child(2) progress::-webkit-progress-value { background-color: nth($bars,2)};
&:nth-child(3) progress::-webkit-progress-value { background-color: nth($bars,3)};
&:nth-child(4) progress::-webkit-progress-value { background-color: nth($bars,4)};
&:nth-child(5) progress::-webkit-progress-value { background-color: nth($bars,5)};
*/

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) progress::-webkit-progress-value {
        background-color: nth($bars, $i);
        transition-delay: nth($times, $i);
      }
    }
  }
}
@media all and (max-width: 1200px) {
  .skills {
    height: auto;
    .inner {
      padding: 20px;
    }
  }
}
